body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

button {
  padding: 16px 32px;
  border-radius: 8px;
  margin: 4px;
  border: 1px solid gray;
  font-size: 20px;
}

button:hover {
  background: blueviolet;
  color: white;
}

.container {
  padding: 40px 80px;
  border: 1px solid red;
  border-radius: 20px;
  margin-bottom: 10px;
}

.container:hover {
  background-color: gainsboro;
}

input {
  padding: 20px 50px;
  border-radius: 10px;
  font-size: 20px;
}

.box {
  width: 520px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid rgb(0, 255, 0);
  margin-bottom: 15px;
}
