body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

button {
  padding: 16px 32px;
  border-radius: 8px;
  margin: 4px;
}
